@model ColheitaSolidaria.Models.DoacaoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DoacaoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_recebedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_recebedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_doador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_doador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_validade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_validade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cod_doacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
