@model IEnumerable<ColheitaSolidaria.Models.DoacaoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_recebedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_doador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_validade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_recebedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_doador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_validade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cod_doacao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cod_doacao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cod_doacao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
